.compare{
    justify-content: center;
}
.compare img{
    max-width: 100%;
}
h6{
    color: gray;
}
h3{
    text-align: center;
}

.features-list{
    list-style: none;
}

@media (max-width: 790px) {
    .col-sm-4{
       text-align: center;
       margin-bottom: 10px;
        }
        .compare img{
            max-width: 58%;
        }
        h3{
            font-size: 1.5em;
        }
        strong, span{
            font-size: 1em;
        }
    }