#cabecera {
    background: #931010;
    border-bottom: 1px solid #857671;
    margin-bottom: 20px;
}

#divCabecera {
    font-size: 25px;
    font: bold;
    color: white;
}
.tituloCabecera{
    margin-bottom: 0;
}

