<div class="row">
  <div class="col-sm-4" *ngFor="let car of cars | searchfilter: searchText">
    <input type="checkbox" (change)="onChange(car, $event.target.checked)" #name="ngModel" ngModel [disabled]="checkCurrentBoxes(name)">
    Comparar<br>
    <div class="card" [routerLink]="['./',car.id]">
      <img class="card-img-top" [src]="car.thumbnail" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{car.price |currency : 'USD' : 'symbol' : '1.0'}}</h5>
        <p class="card-text">{{car.model}}</p>
        <p class="card-text">{{car.year}}</p>
        <p class="card-text"><small class="text-muted">{{car.branch}}</small></p>
      </div>
    </div>
  </div>
  <div class="footer" [hidden]="compareValue">
      <div class="row">
        <ul class="car-list">
          <li class="car-item" *ngFor="let car of carParams">
            <img class="car-img" [src]="car.thumbnail">
            <div class="description">
                <strong>{{car.model}}</strong>
                <span>{{car.year}}</span>
            </div>
          </li>
          <button class="btn btn-primary" [disabled]="currentBoxes!==2" (click)="onCompare()">Comparar</button>
        </ul>
      </div>
    </div>
</div>
