img{
    max-width: 100%;
}
.col-sm-8{
    border-right: 1px solid #ddd;
}
.features-list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.feature-item{
    margin-top:20px;
   flex: 0 33.33333%;
   margin-right: 0.5em;
}
.feature-item strong{
    display: block;
    color: #999;
}
div.col-sm-2 img{
    border: 1px solid #ddd;
    padding-bottom:23px;
}


@media (max-width: 790px) {
    .col-sm-2 img{
        max-width:58%;
    }
    .row{
        text-align: center;
    }
    .col-sm-6{
        display: none;
    }
    .features-list{
        padding: 0;
        justify-content: center;
    }
}
