<aside>
  <h4>Carros y camionetas</h4>
  <h6>{{resultados + " resultados"}}</h6>
  <h5 class="subtitle">Filtrar por</h5>
    <h6 class="subtitle" for="branch">Marca</h6>
    <input type="text" [(ngModel)]="searchText" (ngModelChange)="onChange($event)" placeholder="Mazda">
            <!--  <select
               id="branch" 
               name="branch">
                <option *ngFor="let branch of branches"  [value]="branch">
                  {{branch}}
                </option>
            </select>
          -->
           
</aside>